<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dx8bblo6i/image/upload/v1525348408/catioras.jpg');">
  <div class="banner-content">
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <p>Todos os <%= link_to 'Cuidadores', users_path %></p>
    <p>Cuidadores próximos</p>
    <div>
      <%= form_tag users_path, method: :get do %>
      <div class="field-search">
        <%= text_field_tag :address, params[:address], placeholder: 'Digite seu endereço' %>
      </div>
      <p><%= submit_tag "Buscar", class: 'btn btn-danger' %></p>
      <% end %>
    </div>
  </div>
</div>
